<div
id="profile-body"
  class="container"
  style="background: #e8e2cd; margin: auto; margin-top: 2vw; margin-bottom: 2vw"
>
  <div class="row row-cols-2">
    <div id="menu-profile" class="col-3 card-body">
      <div class="foto-profile"></div>
      <h3>name</h3>
      <div id="submenu-profile" class="list-group">
        <ul>
          <button
          name='perfil'
            class="list-group-item list-group-item-warning list-group-item-action active"
          >
            Perfil
          </button>
          <button
          name='configuracion'
            class="list-group-item list-group-item-warning list-group-item-action"
          >
              Configuracion

          </button>
          <button
          name='salir'
            class="list-group-item list-group-item-warning list-group-item-action"
          >
            Salir
          </button>
        </ul>
      </div>
    </div>

    <div id="content-profile" class="col-8">

      <div class="additional-info-profile">
        <div class="row" id="point-profile">
          <div class="col m-auto p-4">XXXXX 4,5</div>
          <div class="col m-auto p-4"><h3>0 puntos</h3></div>
        </div>
      </div>
      <div class="u-library-profile">
        <div class="p-3 d-flex">
          <h3>Mi Biblioteca</h3>
          <p class="m-auto p-1">buscar</p>
        </div>
        <div id="slider-my-library"></div>
        <div></div>
        <div class="library-profile"></div>
      </div>
    </div>

    <div id="content-profile2" class="col-8">

      
<form class="">
      <div class="form-group">
        <input
        name="displayname"
        autocomplete="current-password"
        placeholder="Nombre"
        required=""
        onchange='onchangg(this)'
        type="password"
        class="form-control form-control"
        />
        
        <div class="invalid-feedback">
        !error
        </div>
        <div class="form-group">
          <input
          name="phone"
          autocomplete="current-password"
          placeholder="Nuevo Telefono"
          required=""
          onchange='onchangg(this)'
          type="text"
          class="form-control form-control"
          />
          
          <div class="invalid-feedback">
         
          </div>

          <div class="form-group">
            <input
            name="email"
            autocomplete="current-password"
            placeholder="Nuevo Correo"
            required=""
            onchange='onchangg(this)'
            type="password"
            class="form-control form-control"
            />
            
            <div class="invalid-feedback">
            Ingrese una contraseña con más de 5 caracteres y una mayuscula como mínimo
            </div>
      <div class="form-group">
        <input
        name="password"
        autocomplete="current-password"
        placeholder="Nueva contraseña"
        required=""
        onchange='onchangg(this)'
        type="password"
        class="form-control form-control"
        />
        
        <div class="invalid-feedback">
        Ingrese una contraseña con más de 5 caracteres y una mayuscula como mínimo
        </div>
        
        </div>
        
<input type="submit" class="form-control" value= 'Actualizar' /> 
      </form>
    
    </div>
  </div>



</div>


</div>
