{% block content %}


<div class="loginBg">


<div class="card " style="width: 700px; margin: 60px auto auto">
    <div class="card-body" style="margin: 20px">
        <div class="container">
            <div class="row" style="display: flex; margin: auto">
                <div class="col-sm col" style="
                cursor:pointer ; 
                color:  grey" onClick='changeOnClick(false)'  id='botonLog'><h4>INICIAR SESIÓN</h4></div>
                
                <div 
                class="col-sm col" 
                style="cursor: pointer; 
                color: black" 
                
                onClick='changeOnClick(true)' id='botonReg'>
                <h4>REGISTRATE</h4>
            </div>
            
        </div>
    </div>
    


    <div class="form-group">
    </div>
    <script>
        const hola = 'hola'
      </script>
      
      {% if hola %}
      <h3>hola</h3>
      {% else %}
          <div>Greetings {{user}}</div>
      {% endif %}


 <!-- INIT  FORM  -->
    <form class="" method='POST'>
        <div class="form-group">   
            <div id="registerOp" class="input-group mb-3">
                <form class= 'form-group needs-validation' novalidate>
                    <input   class= 'form-control' type="text"  placeholder='Nombre / Nick' name='displayName' 
                    onchange='onchangg(this)' required />
                    <div class="invalid-feedback"> Ingrese un nick con caracteres valido y con un largo mayor a 3 </div>
                </form> </div>
                <form class= 'needs-validation' novalidate style='display:flex'>
                    
                    <div class="form-group w-100" style='display:flex'>
                        <div class="input-group w-25">
                            
                            <select class="custom-select"  type="select" name="country" id="exampleSelect" >
                                <option>CHL (56)</option>
                                <option>CHN (86)</option>
                                <option>ARG (54)</option>
                                <option>BRZ (55)</option>
                                <option>USA (1)</option>
                            </select>
                        </div>
                        <input   type="number" class='form-control w-75' placeholder='Numero de celular' name='phone' required onChange='onInputChange(this)' />
                    </form>
                    
                    
                </div> 
                
                <div class="form-group">
                    
                    <input
                    onchange='onchangg(this)'
                    placeholder="Correo"
                    id='correo'
                    name="email"
                    required=""
                    type="text"
                    class="form-control"
                    /><div class="invalid-feedback">
                        el correo tiene un formato invalido
                    </div>
                </div>
                
                
                <div class="form-group">
                    <input
                    name="password"
                    autocomplete="current-password"
                    placeholder="Contraseña"
                    required=""
                    onchange='onchangg(this)'
                    type="password"
                    class="form-control form-control"
                    />
                    
                    
                    <div class="invalid-feedback">
                        Ingrese una contraseña con más de 5 caracteres y una mayuscula como mínimo
                    </div>
                    
                </div>
                
                
                <div class="form-group">
                    <input
                    name="password2"
                    autocomplete="current-password"
                    placeholder="Ingresa nuevamente la contraseña"
                    required=""
                    onchange='onchangg(this)'
                    type="password"
                    class="form-control form-control"
                    />
                    <div class="invalid-feedback">
                        la contraseña no coincide
                    </div>
                </div>
                
                
                <input type="submit" class="form-control" value= '
                  Registrate ahora !💕
                ' /> 
                
            </div>
        </form>

 <!-- END  FORM  -->

        <div class="collapse">
            <div
            class="alert alert-danger fade show"
            role="alert"
            style="margin-top: 1rem"
            >
            <div class="card-body" role="alert"></div>
        </div>
    </div>
    <h5>o inicia con </h5>
    <div
    style="
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 10rem;
    margin: auto;
    "
    >
    <img
    id="GOOGLE-login"
    src="https://cdn.windowsreport.com/wp-content/uploads/2016/10/Google-icon.jpg"
    style="
    width: 30px;
    height: 30px;
    color: black;
    margin-top: auto;
    cursor: pointer;
    "
    /><img
    id="FACEBOOK-login"
    src="https://woocommerce.com/wp-content/plugins/wccom-facebook-product-header/client/assets/images/facebook-icon.png"
    style="
    width: 30px;
    height: 30px;
    color: black;
    margin-top: auto;
    cursor: pointer;
    "
    /><img
    id="TWITTER-login"
    src="https://blog.bitmex.com/wp-content/uploads/2018/10/kisspng-social-media-iphone-organization-logo-twitter-5abe3024502f30.2043853815224136043284.jpg"
    style="
    width: 30px;
    height: 30px;
    color: black;
    margin-top: auto;
    cursor: pointer;
    "
    />
</div>
<!-- ${
    !state
    ? `<a  class='mb-4'href="#"> Se te ha olvidado la contraseña? </a>`
    : ``
} -->

</div>

</div>


</div>
{% endblock content %}
